## Introduction to SQL in Jupyter for EGAD

This document introduces the basic layout of SQL in jupyter notebooks. It does not have any complex queries with parameter substitution, just a guide to follow along with.

If run locally, you will need to install the following:

* psycopg2
* pgspecial
* ipython-sql


To install these, run the following commands

*  conda install -c anaconda psycopg2 
*  conda install -c conda-forge pgspecial 
*  conda install -c conda-forge ipython-sql 

You will need credentials.py in the same directory as the ipynb file to load the credentials for logging in.

The SQL commands themselves will work in any interface you have (psql, RStudio, pgAdmin, etc.).

### Loading the SQL extension

The following cell loads the sql extension and logs-in with your username and password in the following format:

sql postgresql://username:password@DBaddress/DBname

The default example is to a localhost, but it will work for remote connections as well.

In [ ]:
from credentials import username, password, hostname, dbname
connection_info = f"postgresql://{username}:{password}@{hostname}/{dbname}"
%load_ext sql
%sql $connection_info

### What tables are in the database?

In order to find out which tables are in the database, you use a "meta-command". \d will display all tables in the database

In [ ]:
%sql \d

Here you have 2 types of items, tables and sequences. Tables are as you might expect, a table which has data and that you can interact with. A sequence is an object that keeps track of sequential columns in a table. An example would be a table where it auto-generates a primary key as a new integer, the sequence object keeps track of what number to put in the next row.

### Basics: give me the information in a table

SQL syntax starts out very straightforward (and then gets complicated fast). The basics of a query are:

1. SELECT
2. FROM 

SELECT is a command that picks the columns to return. 

FROM indicates which table(s) to get the columns

Another command, LIMIT, indicates how many rows we want to return.

In [ ]:
%%sql
/* Example, give the first 5 lines in the rna_meta table */
SELECT *
FROM rna_meta
LIMIT 5;

### Query for gene expression

Lets say I'm interested in a specific gene, ALX1 (SPU_025302) and I wanted to see all of my expression data for it (In any dataset). We have two tables that have this information, rna_meta and gene_expression. I want to know:

1. The dataset
2. The expression value

I'll need to use some additional functions

1. INNER JOIN
2. WHERE

INNER JOIN combines two tables together based on a foreign key and returns only the rows that match.

WHERE is a filter that reduces the results returned. Here, we want to just look at one gene, so WHERE will filter for out gene_id of interest.

In [ ]:
%%sql

/* Just give the following columns, table_name.column */
SELECT rm.rna_id, rm.analyst, rm.units, rm.dev_stage, rm.replicate_group, ge.gene_id, ge.expression

/* Start with the rna_meta table, shorten the name to rm for this query */
FROM rna_meta rm 

/* Join with the gene_expression  */
    INNER JOIN gene_expression ge ON ( rm.rna_id = ge.rna_id  )  
    
/* Only return rows that have my gene  */
WHERE ge.gene_id = 'SPU_025302'

It looks like all of the datasets have this gene. 

But, what if I don't know the ID of the gene I want to find? Here we will use a '~' symbol which means to search with a regular expression.

In [ ]:
%%sql 

SELECT *
FROM gene_info gi
WHERE gi.name ~ 'Alx'

Maybe all of the Alx genes are interesting. We can actually use this table to select which genes we want. Here is my next query (in english):

Give me all the expression data from the Israel et al. study for Alx genes.

In [ ]:
%%sql

SELECT rm.analyst, rm.units, rm.dev_stage, rm.replicate_group, gi.name, ge.gene_id, ge.expression
FROM rna_meta rm
    INNER JOIN gene_expression ge ON ( rm.rna_id = ge.rna_id )
        INNER JOIN gene_info gi ON ( ge.gene_id = gi.gene_id )
WHERE  gi.name ~ 'Alx' AND
    rm.analyst = 'Israel et al.'

Cool, but maybe I want the average among my replicates for plotting

In [ ]:
%%sql

SELECT rm.analyst,rm.dev_stage, gi.name, ge.gene_id, AVG(ge.expression) as average_gene_expression
FROM rna_meta rm
    INNER JOIN gene_expression ge ON ( rm.rna_id = ge.rna_id )
        INNER JOIN gene_info gi ON ( ge.gene_id = gi.gene_id )
WHERE  gi.name ~ 'Alx' AND
    rm.analyst = 'Israel et al.'
GROUP BY rm.analyst, rm.dev_stage, gi.name,ge.gene_id

Here, we had to select how we wanted to manupulate the column in the SELECT statement. 

The GROUP BY statement says how to group our columns. If you display a column and are not performing an aggregate function, you need to include it in the GROUP BY or Postgres will throw an error